a, a:visited, a:hover {
	text-decoration: none;
	color: #000;
}

.frame {
	margin: 3% auto 0 auto;
	height: 600px;
	border: 1px solid #000;
	border-width: 1px 1px 1px 1px;
	font-family: sans-serif;
	background-color: #eeeeee;
}

.navigation {
	margin-top: 380px;
}

.navigation li {
	list-style: none;
	font-size: 1.2em;
}

.text {
	height: 600px;
	overflow: scroll;
}

.picture {
	height: 140px;
}

.painting {
  margin: 40px auto 0px auto;
  text-align: center;
}

.gallery {
	margin-top: 13px;
	text-align: center;
}

.left {
	float: left;
}

.right {
	float: right;
}

.underline {
	text-decoration:underline;
}