.container {
	text-align: left;
	margin: 0 auto 0 auto;
	height: 100%;
	font-family: sans-serif;
}

#header {
	float: left;
	width: 1000px;
}

.frame {
	height: 600px;
	background-color: #eeeeee;
	border: 1px solid #000;
	border-width: 1px 1px 1px 1px;
	font-size: 12px;
	margin-top: 50px;
}

.navigation {
	background-color: #eeeeee;
	border: 1px solid #000;
	border-width: 0px 0px 0px 0px;
	margin-top: 380px;
	overflow: auto;
}

.navigation li {
	list-style: none;
	font-size: 20px;
}

#title {
	float: left;
	width: 180px;
	background-color: #eeeeee;
	padding-left: 20px;
}

#user_nav {
  font-size: 12px;
}

.content {
	margin-top: 10px;
}

#text {
	float: left;
	height: 600px;
	padding-left: 40px;
}
#image {
	float: left;
	margin-left: 130px;
	margin-top: 100px;
	text-align: right;
}

#images {
	margin-top: 60px;
}

a, a:visited, a:hover {
	text-decoration: none;
	color: #000;
}

a img {
	border-style: none;
}

.crud{
	color: red;
}

.picture {
  float: left;
  text-align: center;
}

#painting {
  width: auto;
  margin: 40px auto 0px auto;
  text-align: center;
}
.gallery {
	margin-top: 2%;
}